<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{base/layout}">
<head>
    <title>Home WebApp</title>
 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="description" content="Sistem Web com Spring Boot"/>
	<meta name="author" content="BrenoMorais"/>        
</head>
<body>
<section layout:fragment="content">
 
    <!-- MONTANDO O GRID PARA POSICIONAR O FORMULÁRIO NO CENTRO -->   
   <div class="mdl-grid">   
   
   		<div class="mdl-layout-spacer"></div>  
   		  
	    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--4dp mdl-color--white">    	
	    	<h4>&nbsp;Sistema de Gerenciamento Web&nbsp;</h4>    	
		</section>	
		
   		 <div class="mdl-layout-spacer"></div>
	</div>
 
</section>
 
</body>
</html>